<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SH.Crawler.Properties.Settings.ExactReportConnectionString"
            connectionString="Data Source=192.169.1.6;Initial Catalog=ExactReport;Persist Security Info=True;User ID=Exact;Password=123@123a;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>